$gradient: linear-gradient(180deg, #30738D 0%, #2B4955 100%);
$blue: #30738D;
$bgBlue10: #30738d24;
$bgBlue5: #30738d16;
$white: #ffffff;

$space: (
  10: 1rem,
  15: 1.5rem,
  20: 2rem,
  30: 3rem
);
$rround: 50%;